extends layout
block content
	table
		tr
			td(width="500px", align="center")
				div.jumbotron
				h1= title
				p.lead
					| Gracias por visitarnos!!!
					| Explora las diferentes ofertas que tu tienda en linea tiene para ti.
					| Si tu prefieres puedes suscribirte a nuestro sitio,
					| y obtendras mejores ofertas y descuentos!!!
				a(class="btn btn-large btn-success", href="/contactanos") Suscribete Hoy!
			td
				img(src='/img/logo.jpg',alt="Mi logo", width="500px", height="600px")