extends layout
block content
	div.jumbotron
		h2 GRACIAS POR SU PREFERENCIA
		p.lead
			| Gracias por visitarnos!!!
			| Para tu comodidad te sujerimos que si durante la visita a nuestra pagina observas alguna actividad malisiosa puedas notificarnos.
		a(class="btn btn-large btn-success", href="#") Reportar Abuso!