extends layout
block content
	div.jumbotron
		h2 CATEGORIAS.
		table
			tr
				td	
					h6
						| Para tu habitacion.
				td
					h6
						| Para tu cosina.
				td
					h6
						| Para tu Sala.
						
			tr
				td
					img(src='/img/cama.jpg',alt="Mi logo", width="300px", height="300px")
				td
					img(src='/img/cocina.jpg',alt="Mi logo", width="300px", height="300px")
				td
					img(src='/img/sala.jpg',alt="Mi logo", width="300px", height="300px")
			tr
				td	
					h6
						| Equipos de Sonido.
				td
					h6
						| Juegos de Comedor.
				td
					h6
						| Para tu Sala.
			tr
				td
					img(src='/img/sonido.jpg',alt="Mi logo", width="300px", height="300px")
				td
					img(src='/img/comedor.jpg',alt="Mi logo", width="300px", height="300px")
				td
					img(src='/img/sala.jpg',alt="Mi logo", width="300px", height="300px")
include footer