extends layout
block content
	div.jumbotron
		table
			tr
				td	
					h2
						| MISION.
					p
						| Proveer a los clientes los mejores productos que satisfagan las nececidades prioritarias de sus familias.
				td
					img(src='/img/mision.jpg',alt="Mi logo", width="300px", height="300px")
				td
			tr
				td
					h2
						| VISION.
					p
						| Ser una corporaci&oacute;n lider a nivel nacional e internacional, ofreciendo los productos.
				td
					img(src='/img/vision.jpg',alt="Mi logo", width="300px", height="300px")
				td
			tr
				td
					h2
						| VALORES.
				td
					li Honestidad.
					li Honrradez.
					li Respeto.
				td
					img(src='/img/valores.jpg',alt="Mi logo", width="300px", height="300px")
include footer